.grid {
  display: flex;
  flex-direction: column;

  @mixin small {
    flex-direction: row;
  }

  .grid-left {
    @mixin small {
      flex: 3;
      padding-right: 20px;
    }
  }

  .grid-right {
    @mixin small {
      flex: 2;
    }
  }
}
