.contact-form {
  display: flex;
  flex-direction: column;

  label {
    padding-bottom: 10px;
    color: var(--blue);
  }
  input {
    margin-bottom: 20px;
  }

  textarea {
    /* MIGHT NEED CHANGING */
    height: 200px;
  }
  margin-bottom: 20px;
}
