.footer {
  background: var(--red);
  color: white;
  /* MIGHT CHANGE BELOW */
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  p {
    line-height: var(--footer-height);
  }
}
