.top-nav {
  background: var(--red);
}

.navbar {
  min-height: var(--navbar-height);
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: column;
    @mixin medium {
      flex-direction: row;
    }
    li {
      list-style-type: none;
      color: white;
      line-height: var(--navbar-height);
      a,
      .btn-menu {
        display: block;
        padding: 0 10px;
        height: 100%;
        cursor: pointer;
        &:hover {
          background: var(--dark-red);
        }
      }
      &:not(:last-child) {
        display: none;
        @mixin medium {
          display: block;
        }
      }
      .btn-menu {
        @mixin medium {
          display: none;
        }
      }
    }
  }
  .logo {
    img {
      max-height: var(--navbar-height);
      padding: 5px 0;
      display: block;
    }
  }
}
