.hero-slider {
  position: relative;
  height: 600px;
  .slide-image {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s linear;
  }

  .is-visible {
    opacity: 100%;
  }
}
