table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.5rem;

  tr {
    &:nth-child(odd) {
      background: var(--light-grey);
    }
  }

  th {
    font-size: 1.75rem;
    background: var(--red);
    color: white;
    padding: 10px;
    &:nth-of-type(1) {
      text-align: left;
    }
  }

  td {
    padding: 10px;
    &:not(:nth-of-type(1)) {
      text-align: center;
    }
  }
}
